{% extends 'base.html.twig' %}

{% block title %}Page liste des produits{% endblock %}

{% block body %}
    <main>
    <h1>Catalogue</h1>

    <section>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="card" style="width: 18rem;">
                        <img src="images/{{ product.image }}" alt="image de {{ product.name }}" class="image-article">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text"></p>
                            <a href="{{ path('app_front_catalogue_detail', {id:product.id}) }}" class="btn btn-primary custom-btn">Voir plus</a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
            <div class="navigation">
                {{ knp_pagination_render(products) }}
            </div>
    </section>
    </main>
{% endblock %}